# Dependencies
node_modules/
.pnp
.pnp.js

# Local env files
.env
.env*.local

# Next.js
.next/
out/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Debug
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
